@import url("https://fonts.googleapis.com/css2?family=Lora&family=Oswald:wght@300&family=Poppins:wght@100&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  .nav div {
    height: 4px;
    margin: 5px 0;
    transition: 0.3s;
    border-radius: 25px;
    background-color: rgb(199, 36, 77);
  }
  
  .nav {
    width: 30px;
    display: block;
    margin: 1em 0 0 1e;
  }
  
  .about {
    width: 30px;
  }
  
  .my-work {
    width: 20px;
  }
  
  .contact {
    width: 25px;
  }
  
  .nav:hover div {
    width: 30px;
  }

  
 html, body {
    background-image: url(../images/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}

h1{
    letter-spacing: 2px;
    font-family: "poppins-bold", sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: rgb(199, 36, 77);
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-top: 60px; */
    position: fixed;
    top: 20%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}

h2 {
    font-family: "poppins-semi-bold" sans-serif;
    letter-spacing: 3px;
    color: rgb(218, 216, 216);
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-top: 60px; */
    position: fixed;
    top: 24%;
    left: 42.5%;
    margin-top: -50px;
    margin-left: -100px;
}

.main .p1 {
    position: fixed;
    top: 45%;
    left: 25%;
    margin-top: -50px;
    margin-left: -100px;
    width: 25%;
}

.main .p2 {
    position: fixed;
    top: 59%;
    left: 25%;
    margin-top: -50px;
    margin-left: -100px;
    width: 25%;
}

.main .p3 {
    position: fixed;
    top: 73%;
    left: 25%;
    margin-top: -50px;
    margin-left: -100px;
    width: 25%;
}

.icons {
    font-size: 38px;
    letter-spacing: 25px;
    display: flex;
    position: fixed;
    top: 95%;
    left: 50%;
    margin-top: -20px;
    margin-left: -100px;
  }

  .icons i {
    color: rgb(218, 216, 216);
  }
  
  .icons i:hover {
    color: rgb(199, 36, 77);
    transition: 0.3s ease;
  }

#img{
    float: right;
    position: fixed;
    top: 45%;
    left: 55%;
    margin-top: -50px;
    margin-left: -100px;
    width: 25%;
    border-radius: 5px;
    border: 1px solid gray;
}
