@import url("https://fonts.googleapis.com/css2?family=Lora&family=Oswald:wght@300&family=Poppins:wght@100&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  .nav div {
    height: 4px;
    margin: 5px 0;
    transition: 0.3s;
    border-radius: 25px;
    background-color: rgb(199, 36, 77);
  }
  
  .nav {
    width: 30px;
    display: block;
    margin: 1em 0 0 1e;
  }
  
  .about {
    width: 30px;
  }
  
  .my-work {
    width: 20px;
  }
  
  .contact {
    width: 25px;
  }
  
  .nav:hover div {
    width: 30px;
  }

  html, body {
    background-image: url(../images/code.jpg);
     background-repeat: no-repeat;
    background-size: cover;
    /* background-position: 0 0 center;  */
  }

  h1 {
    letter-spacing: 2px;
    font-family: "poppins-bold", sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: rgb(199, 36, 77);
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 10%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
  }

  .sub-section-alternative p {
    font-family: "poppins-medium" sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgb(218, 216, 216);
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 14%;
    left: 43%;
    margin-top: -50px;
    margin-left: -100px;
  }

  .sub-section-alternative {
      display: flex;
      flex-direction: column;
      text-align: center;
      
  }

  .project-card a img{
      width: 350px;
      height: 520px;
      position: relative;
      top: 30%;
      left: 
      
      /* border 1px solid #c7244d */
  }

  .project-container {
      display: flex;
      justify-content: space-around; 
  }

  .h-r, img:hover {
      opacity: 0.7;
      transition: 0.3s ease;


  }

  .icons {
    font-size: 38px;
    letter-spacing: 25px;
    display: flex;
    position: fixed;
    top: 95%;
    left: 50%;
    margin-top: -20px;
    margin-left: -100px;
  }

  
  .icons i {
    color: rgb(218, 216, 216);
  }
  
  .icons i:hover {
    color: rgb(199, 36, 77);
    transition: 0.3s ease;
  }

