@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Rajdhani:wght@300&family=Trirong:wght@100;200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
   
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  /* apply styles to <header> */
  header {
    padding: 20px 35px;
    background-color: rgb(0, 0, 0);
  }
  
  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #ac7deb;
    margin: 0;
    display: inline;
  }
  header a {
    font-family: "Rajdhani", sans-serif;
    text-decoration: none;
    color: #ac7deb;
  }
  
  header nav {
    float: right;
    margin: 7px 0;
  }
  
  header nav ul li {
    display: inline;
  }
  
  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
  }

  
  section {
    padding: 60px;
  }
  

  .hero {
    background-image: url('../images/code.jpg');
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  
  .hero-form {
    padding: 20px;
    width: 500px;
    color: #024e76;
    position: absolute;
    bottom: 120px;
    right: 140px;
  }
  
  .hero-form h3 {
    font-size: 24px;
    margin: 0;
  }
  
  .hero-form p {
    margin: 5px 0 15px 0;
  }
  

  .hero-form label {
    margin: 0 5px;
  }
  

  .intro {
    text-align: center;
  }
  
  .intro p {
    font-family: "Rajdhani", sans-serif;
    line-height: 1.7;
    color: black;
    font-weight: bold;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
  }
  
  .projects {
    text-align: center;
    
  }
  
  .projects div {
    margin-bottom: 80px;
  }
  
  .projects img {
    width: 15%;
    margin: 10px 0;
  }
  

  
  .section-title {
    font-size: 55px;
    font-family: "Rajdhani", sans-serif;
    color: #ac7deb;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    display: inline-block;
    border-bottom: 3px solid;
  }
  
  .primary-border {
    border-color: black;
  }
  
  .secondary-border {
    border-color: white;
  }


  .project-card a img {
    width: 650px;
    height: 720px;
    position: relative;
    top: 30%; 
  }

.project-container {
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: space-around; 
}

img:hover {
  opacity: 0.7;
  transition: 0.3s ease;


}

#my-work {
  background-image: url('../images/dark-img.jpg');
}
  
  .contact-section {
    text-align: center;
  }
  

  .icons {
    font-size: 38px;
    letter-spacing: 25px;
    left: 44%;
    display: flex;
    position: absolute;
 
  }

  
  .icons i {
    color: rgb(218, 216, 216);
  }
  
  .icons i:hover {
    color: #ac7deb;
    transition: 0.3s ease;
  }



  .contact {
    text-align: center;
   
  }
  
